.homeCards {
    padding: 2.4rem 4.8rem;
    display: flex;
    justify-content: space-between;
}

.homeCards__card {
    width: 30vw;
    box-shadow: 0.5px 0.5px 5px rgba(34, 34, 34, 0.5);
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

.middle {
    margin:0 15px;
}

.homeCards__cardImg {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 18vw;
    object-fit: cover;
}

.card_Img1 {
    background: url('https://i.pinimg.com/originals/1b/be/21/1bbe21275d2cb7055448696be4ab27b8.jpg') center center;
}
.card_Img2 {
    background: url("http://www.magiciancardtricks.com/uploads/5/6/4/1/5641235/s431054849200788171_p4_i2_w640.jpeg") center center;
}
.card_Img3 {
    background: url("https://images.adsttc.com/media/images/5be9/fd5c/08a5/e5a5/8c00/008f/slideshow/CARLES_FAUS_ARQUITECTURA_-_CARMEN_HOUSE_(2).jpg?1542061390") center center;
}

.homeCards__cardInfo {
    padding: 0.7rem 1rem;
}

.homeCards__cardInfo > h3 {
    font-weight: 500;
    font-size: 1.1rem;
}

.homeCards__cardInfo > p {
    font-weight: 300;
    font-size: 14px;
    color: rgb(92, 92, 92);
}

.homeCards__cardImg > img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    height: 18vw;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}